@import 'tailwindcss';


@theme {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-highlight: #f39c12;
  --color-background-light: #ffffff;
  --color-background-dark: #101c22;
  --color-gray-light: #f8f9fa;

  --font-display: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}